<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2015 LoyalU. All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <ul class="pull-right">
                    <li><a href="#/home">Home</a></li>
                    <li><a href="#/home">About Us</a></li>
                    <li><a href="#/home">Faq</a></li>
                    <li><a href="#/home">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>