<h1 class="page-header">Forms</h1>
      <ul class="nav nav-tabs">
            <li ng-class="{'active' : $location.url().indexOf('forms') != -1}"><a href="#">Forms</a></li>
            <li ng-class="{'active' : $location.url().indexOf('fields') != -1}"><a href="#/fields">Fields</a></li>
      </ul>
<br>
<div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
            <thead>
                  <tr>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span>Form Name</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span>Action</th>
                  </tr>
                  <tr>
                        <td><input type="text" id="formname" placeholder="name" ng-model="model.newForm.title"></td>
                        <td>
                              <button ng-click="model.addForm()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
                              <button ng-click="model.updateForm()" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
                        </td>
                  </tr>
            </thead>
            <tbody>
                  <tr ng-repeat="entry in model.forms">
                        <td>
                              <a href="#/user/{{model.user._id}}/form/{{entry._id}}/fields">{{entry.title}}</a>
                        </td>
                        <td>
                              <button ng-click="model.deleteForm(entry._id)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                              <button ng-click="model.selectForm(entry._id)" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                  </tr>
            </tbody>
      </table>
</div>