<h1 class="page-header">Forms</h1>
      <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#">Forms</a></li>
            <li role="presentation"><a href="form-fields.html">Fields</a></li>
      </ul>
<div class="table-responsive">
      <table class="table table-striped table-bordered table-hover">
            <thead>
                  <tr>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span>Form Name</th>
                        <th><span class="glyphicon glyphicon-triangle-bottom"></span>Action</th>
                  </tr>
                  <tr>
                        <td><input type="text" id="formname" placeholder="name" ng-model="newForm.formName"></td>
                        <td>
                              <button ng-click="addForm()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button>
                              <button ng-click="updateForm()" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span></button>
                        </td>
                  </tr>
            </thead>
            <tbody>
                  <tr ng-repeat="entry in forms">
                        <td>{{entry.form.formName}}</td>
                        <td>
                              <button ng-click="deleteForm($index)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                              <button ng-click="selectForm($index)" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                  </tr>
            </tbody>
      </table>
</div>