<h1 class="page-header">Record Transaction</h1>
<div class="form-horizontal">
    <div class="form-group">
        <label for="inputUsers" class="col-sm-2 control-label">Select User</label>
        <div class="col-sm-10">
            <select class="form-control" id="inputUsers" ng-model="model.selectedUser">
                <option ng-repeat="user in model.users" value="{{$index}}">{{user.loyalUUsername}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputCouponLabel" class="col-sm-2 control-label">Select Coupon</label>
        <div class="col-sm-10">
            <select class="form-control" id="inputCouponLabel" ng-model="model.selectedCoupon" ng-change="model.couponChange()">
                <option ng-repeat="coupon in model.restaurant.coupons" value="{{$index}}">{{coupon.label}}</option>
            </select>
        </div>
    </div>
    <!--<div class="form-group">-->
        <!--<label for="inputItem" class="col-sm-2 control-label">Item</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="text" class="form-control" id="inputItem" placeholder="Item" ng-model="itemname">-->
        <!--</div>-->
    <!--</div>-->
    <div class="form-group" ng-show="model.amountType == false">
        <label for="inputQuantity" class="col-sm-2 control-label">Quantity</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputQuantity" placeholder="Quantity" ng-model="model.quantity">
        </div>
    </div>
    <div class="form-group" ng-show="model.amountType == true">
        <label for="inputAmount" class="col-sm-2 control-label">Amount</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputAmount" placeholder="Amount" ng-model="model.amount">
        </div>
    </div>
    <div class="form-group" ng-show="model.couponTypeLoad == true">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-click="model.record()" class="form-control btn btn-default">Record Transaction</button>
        </div>
    </div>
</div>
<br>
<h3 class="page-header">Coupon Redemption</h3>
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-4">Discount Applicable</label>
        <label class="col-sm-8">10%</label>
    </div>
    <div class="form-group">
        <label class="col-sm-4">Free Items</label>
        <label class="col-sm-8">1</label>
    </div>
</div>