/*p {*/
    /*width: 250px;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
/*}*/




#image-fixed-search1 {
    height: 200px;
    width: 200px;
    max-width: 200px;
    max-height: 200px;
}

#image-fixed-search {
    height: 200px;
    width: 250px;
    max-width: 200px;
    max-height: 200px;
}

.pull-middle {
    align: middle;
    padding: 10px;
}