<section>
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>{{model.locuRest.name}}</h2>
            <h3>
                {{model.locuRest.location.address1}},
                {{model.locuRest.location.locality}},
                {{model.locuRest.location.postal_code}},
                {{model.locuRest.location.region}}
                <p>
                    {{model.locuRest.contact.phone}}
                </p>
                <p>
                    <a href="{{model.locuRest.website_url}}">{{model.locuRest.website_url}}</a>
                </p>
            </h3>
        </div>
    </div>
</section>

<section id="services" class="service-item">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Coupons</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="coupon in model.restaurant.coupons">
                <a href="#/loyalUDetails/{{coupon.restLocuId}}">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <img class="img-responsive" id="image-fixed-search1" src="{{model.restaurant.image_url}}"/>
                        </div>
                        <div class="media-body">
                                <p class="center1 truncate media-heading">
                                    {{model.restaurant.name}}, {{model.restaurant.zipcode}}
                                </p>
                            <p class="truncate">
                                <span class="glyphicon glyphicon-star"></span>
                                {{coupon.label}}
                            </p>
                            <p class="truncate">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                {{coupon.description}}
                            </p>
                            <p class="truncate" ng-if="coupon.couponType == 'QUANTITY'">
                                <span class="glyphicon glyphicon-cutlery"></span>
                                {{coupon.itemName}}
                            </p>
                            <p class="truncate" ng-if="coupon.couponType == 'AMOUNT'">
                                <span class="glyphicon glyphicon-usd    "></span>
                                {{coupon.discount}}%
                            </p>
                            <p class="truncate">
                                <span class="glyphicon glyphicon-calendar"></span>
                                {{coupon.expiry | date}}
                            </p>
                            <p class="fa">
                                *Redeem this coupon at the venue
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>