<section>
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>{{model.locuRest.name}}</h2>
            <h3>
                {{model.locuRest.location.address1}},
                {{model.locuRest.location.locality}},
                {{model.locuRest.location.postal_code}},
                {{model.locuRest.location.region}}
                <p>
                    {{model.locuRest.contact.phone}}
                </p>
                <p>
                    <a href="{{model.locuRest.website_url}}">{{model.locuRest.website_url}}</a>
                </p>
            </h3>
        </div>
    </div>
</section>
<section id="recent-works">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="coupon in model.restaurant.coupons">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="{{model.restaurant.image_url}}" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <p>{{coupon.label}}</p>
                            <br>
                            <p ng-if="coupon.couponType == 'QUANTITY'">
                                Coupon Type: "Quantity"
                                <br>
                                Item Name: {{coupon.itemName}}
                                <br>
                                {{coupon.description}}
                                <br>
                                Valid until: {{coupon.expiry | date}}
                            </p>
                            <p ng-if="coupon.couponType == 'AMOUNT'">
                                Coupon Type: "Amount"
                                <br>
                                Spend {{coupon.amount}}, get {{coupon.discount}}% off
                                <br>
                                {{coupon.description}}
                                <br>
                                Valid until: {{coupon.expiry | date}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>