<section>
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>{{model.locuRest.name}}</h2>
            <h3>
                {{model.locuRest.location.address1}},
                {{model.locuRest.location.locality}},
                {{model.locuRest.location.postal_code}},
                {{model.locuRest.location.region}}
                <p>
                    {{model.locuRest.contact.phone}}
                </p>
                <p>
                    <a href="{{model.locuRest.website_url}}">{{model.locuRest.website_url}}</a>
                </p>
            </h3>
        </div>
    </div>
</section>

<section id="recent-works">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="coupon in model.restaurant.coupons">
                <div class="recent-work-wrap">
                    <img id="img-fixed" src="{{model.restaurant.image_url}}">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <p class="center fa-2x">{{coupon.label}}</p>
                            <div ng-if="coupon.couponType == 'QUANTITY'">
                                <p>
                                    <span class="glyphicon glyphicon-tag"></span>
                                    Coupon Type: "Quantity"
                                </p>
                                <p>
                                    <span class="glyphicon glyphicon-cutlery"></span>
                                    {{coupon.itemName}}
                                </p>
                                <p>
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                    {{coupon.description}}
                                </p>
                                <p>
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    Valid until: {{coupon.expiry | date}}
                                </p>
                                <br>
                                <p class="fa">
                                    *Redeem this coupon at the venue
                                </p>
                            </div>
                            <div ng-if="coupon.couponType == 'AMOUNT'">
                                <p>
                                    <span class="glyphicon glyphicon-tag"></span>
                                    Coupon Type: "Amount"
                                </p>
                                <p>
                                    <span class="glyphicon glyphicon-usd"></span>
                                    Spend {{coupon.amount}}, get {{coupon.discount}}% off
                                </p>
                                <p>
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                    {{coupon.description}}
                                </p>
                                <p>
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    Valid until: {{coupon.expiry | date}}
                                </p>
                                <br>
                                <p class="fa">
                                    *Redeem this coupon at the venue
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>