<h1 class="page-header">Restaurant Coupons</h1>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Quantity Coupons</a></li>
    <li role="presentation"><a href="form-fields.html">Amount Coupons</a></li>
</ul>
<br>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Item</th>
            <th>Quantity</th>
            <th>Created</th>
            <th>Expiry</th>
            <th>Valid</th>
            <th><span class="glyphicon glyphicon-triangle-bottom"></span>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="restaurant in model.restaurantCoupons" ng-if="restaurant.coupon.couponType=='QUANTITY'">
            <td>{{restaurant.coupon.label}}</td>
            <td>{{restaurant.coupon.description}}</td>
            <td>{{restaurant.coupon.itemName}}</td>
            <td>{{restaurant.coupon.quantity}}</td>
            <td>{{restaurant.coupon.dateCreated}}</td>
            <td>{{restaurant.coupon.expiry}}</td>
            <td>{{restaurant.coupon.isValid}}</td>
            <td>
                <button ng-click="deleteForm($index)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                <button ng-click="selectForm($index)" class="btn btn-info"><span class="glyphicon glyphicon-pencil"></span></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<h1 class="page-header">Create Coupons</h1>
<div class="form-horizontal">
    <div class="form-group">
        <label for="inputCouponType" class="col-sm-2 control-label">Coupon Type</label>
        <div class="input-group col-sm-10">
            <select type="select" class="form-control" id="inputCouponType" ng-model="model.newCoupon.couponType">
                <option value="QUANTITY">QUANTITY</option>
                <option value="AMOUNT">AMOUNT</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputTitle" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputTitle" ng-model="model.newCoupon.label">
        </div>
    </div>
    <div class="form-group">
        <label for="inputDescription" class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputDescription" ng-model="model.newCoupon.description">
        </div>
    </div>
    <div class="form-group">
        <label for="inputItemName" class="col-sm-2 control-label">Item Name</label>
        <div class="input-group col-sm-10">
            <select class="form-control" id="inputItemName" ng-model="model.newCoupon.itemName">
                <option ng-repeat="currItem in model.menuItems" value="{{currItem}}">{{currItem}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputQuantity" class="col-sm-2 control-label">Quantity</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputQuantity" ng-model="model.newCoupon.quantity">
        </div>
    </div>
    <div class="form-group">
        <label for="inputIsValid" class="col-sm-2 control-label">Is Valid</label>
        <div class="input-group col-sm-10">
            <select class="form-control" id="inputIsValid" ng-model="model.newCoupon.isValid">
                <option value="TRUE">TRUE</option>
                <option value="FALSE">FALSE</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputValidUntil" class="col-sm-2 control-label">Expiry</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" id="inputValidUntil" ng-model="model.newCoupon.expiry">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button ng-click="model.addCoupon()" type="submit" class="form-control btn btn-default">Add Coupon</button>
        </div>
    </div>
</div>