<ul class="nav nav-sidebar" ng-controller="SidebarController">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <hr>
    <li role="presentation"><a href="restaurant-profile.html">Restaurant Profile</a></li>
    <li role="presentation"><a href="create-quantity-coupon.html">Create Coupons</a></li>
    <li role="presentation"><a href="record-transaction.html">Record Transaction</a></li>
    <li role="presentation"><a href="restaurant-view-quantity-coupons.html">View Coupons</a></li>
    <hr>
    <li role="presentation"><a href="user-profile.html">User Profile</a></li>
    <li role="presentation"><a href="user-view-quantity-coupons.html">View Coupons</a></li>
</ul>