<div ng-controller="SidebarController">
    <ul class="nav nav-sidebar">
        <li ng-class="{'active' : $location.url().indexOf('home') != -1}"><a href="#/home">Home</a></li>
        <li ng-class="{'active' : $location.url().indexOf('searchWebCoupons') != -1}"><a href="#/searchWebCoupons">Search Web Coupons</a></li>
        <li ng-class="{'active' : $location.url().indexOf('searchLoyalUCoupons') != -1}"><a href="#/searchLoyalUCoupons">Search LoyalU Coupons</a></li>

        <li ng-show="loggedInUser && loggedInUser.role == 'CUSTOMER'"
            role="presentation"
            ng-class="{'active' : $location.url().indexOf('customerQuantityCoupons') != -1}">
            <a href="#/customerQuantityCoupons">View Coupons</a>
        </li>

        <li ng-show="loggedInUser && loggedInUser.role == 'ADMIN'"
            role="presentation"
            ng-class="{'active' : $location.url().indexOf('restaurantCoupons') != -1}">
            <a href="#/restaurantCoupons">Restaurant Coupons</a>
        </li>
        <li ng-show="loggedInUser && loggedInUser.role == 'ADMIN'"
            role="presentation"
            ng-class="{'active' : $location.url().indexOf('recordTransaction') != -1}">
            <a href="#/recordTransaction">Record Transaction</a>
        </li>
    </ul>
</div>
<!-- Working but crooked
<ul class="nav nav-sidebar" ng-controller="SidebarController">
    <li ng-class="{'active' : $location.url().indexOf('home') != -1}"><a href="#/home">Home</a></li>
    <li ng-class="{'active' : $location.url().indexOf('search-coupons') != -1}"><a href="#/searchWebCoupons">Search Web Coupons</a></li>
    <li ng-class="{'active' : $location.url().indexOf('search-coupons') != -1}"><a href="#/searchLoyalUCoupons">Search LoyalU Coupons</a></li>
    <span ng-show="loggedInUser">
        <span ng-show="loggedInUser.role == 'CUSTOMER'">
            <li role="presentation"><a href="#/customerQuantityCoupons">View Coupons</a></li>
        </span>
    </span>

    <span ng-show="loggedInUser">
        <span ng-show="loggedInUser.role == 'ADMIN'">
            <li role="presentation"><a href="#/restaurantCoupons">Restaurant Coupons</a></li>
            <li role="presentation"><a href="#/recordTransaction">Record Transaction</a></li>
        </span>
    </span>
</ul>
-->


<!--
<nav class="nav nav-sidebar" ng-controller="SidebarController">
    <span ng-show="!loggedInUser">
        <ul class="nav nav-sidebar">
            <li ng-class="{'active' : $location.url().indexOf('home') != -1}"><a href="#/home">Home</a></li>
            <li ng-class="{'active' : $location.url().indexOf('search-coupons') != -1}"><a href="#/searchWebCoupons">Search Web Coupons</a></li>
            <li ng-class="{'active' : $location.url().indexOf('search-coupons') != -1}"><a href="#/searchLoyalUCoupons">Search LoyalU Coupons</a></li>
        </ul>
    </span>
</nav>

<nav class="nav nav-sidebar" ng-controller="SidebarController">
    <span ng-show="loggedInUser">
        <ul class="nav nav-sidebar">
            <li ng-class="{'active' : $location.url().indexOf('home') != -1}"><a href="#/home">Home</a></li>
            <li ng-class="{'active' : $location.url().indexOf('search-coupons') != -1}"><a href="#/searchWebCoupons">Search Web Coupons</a></li>
            <li ng-class="{'active' : $location.url().indexOf('search-coupons') != -1}"><a href="#/searchLoyalUCoupons">Search LoyalU Coupons</a></li>
        </ul>
        <span ng-show="admin">
            hello admin
        </span>
        <span ng-show="!admin">
            hello customer
        </span>
    </span>
</nav>
-->
<!--
<span ng-show="!loggedInUser">
    <ul class="nav nav-sidebar" ng-controller="SidebarController"><li ng-class="{'active' : $location.url().indexOf('home') != -1}"><a href="#/home">Home</a></li>
        <li ng-class="{'active' : $location.url().indexOf('search-coupons') != -1}"><a href="#/searchWebCoupons">Search Web Coupons</a></li>
        <li ng-class="{'active' : $location.url().indexOf('search-coupons') != -1}"><a href="#/searchLoyalUCoupons">Search LoyalU Coupons</a></li>
    </ul>
</span>
<span ng-show="loggedInUser" ng-if="loggedInUser.role == 'CUSTOMER'">
    <ul class="nav nav-sidebar" ng-controller="SidebarController"><li ng-class="{'active' : $location.url().indexOf('home') != -1}"><a href="#/home">Home</a></li>
        <li ng-class="{'active' : $location.url().indexOf('search-coupons') != -1}"><a href="#/searchWebCoupons">Search Web Coupons</a></li>
        <li ng-class="{'active' : $location.url().indexOf('search-coupons') != -1}"><a href="#/searchLoyalUCoupons">Search LoyalU Coupons</a></li>
        <li ng-class="{'active' : $location.url().indexOf('search-coupons') != -1}"><a href="#/searchLoyalUCoupons">Search LoyalU Coupons</a></li>
    </ul>
</span>
