<h1 class="page-header">Coupon Details</h1>

<h2>{{model.coupon.dealTitle}}</h2>
<img src="{{model.coupon.showImage}}" class="image-minified"/>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Store Name</th>
            <th>Expiration Date</th>
            <th>Post Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{model.coupon.name}}</td>
            <td>{{model.coupon.expirationDate}}</td>
            <td>{{model.coupon.postDate}}</td>
        </tr>
    </tbody>
</table>
<p>{{model.coupon.dealinfo}}</p>



<!--
<table class="table table-striped">
    <thead>
        <tr>
            <th>Deal Discount Percent</th>
            <th>Deal Original Price</th>
            <th>Deal Price</th>
            <th>Deal Savings</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{model.coupon.dealDiscountPercent}}</td>
            <td>{{model.coupon.dealOriginalPrice}}</td>
            <td>{{model.coupon.dealPrice}}</td>
            <td>{{model.coupon.dealSavings}}</td>
        </tr>
    </tbody>
</table>
<h3>Store Address</h3>
{{model.coupon.address}},
{{model.coupon.city}},
{{model.coupon.state}},
{{model.coupon.ZIP}}
-->
<a href={{model.coupon.URL}}><h3>8CouponURL</h3></a>


