<section>
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>{{model.coupon.name}}</h2>
            <h3>
                <p></p>
                <p>
                    <a target="_blank" href="{{model.coupon.URL}}">Buy the coupon here</a>
                </p>
            </h3>
        </div>
    </div>
</section>
<section id="content" class="shortcode-item">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <img src="{{model.coupon.showImage}}" id="img-fixed-details"/>
            </div>
            <div class="col-xs-12 col-sm-7">
                <div class="accordion">
                    <div class="panel-group" id="accordion1">
                        <div class="panel panel-default">
                            <div class="panel-heading active">
                                <h3 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                        Description
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseOne1" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="media accordion-inner">
                                        <div class="media-body">
                                            {{model.coupon.dealTitle}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-heading active">
                                <h3 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                                        Post Date, Expiration Date
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseOne2" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="media accordion-inner">
                                        <div class="media-body">
                                            <p>{{model.coupon.postDate}}, {{model.coupon.expirationDate}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

