<!--<section id="home">-->
<!--<div class="container">-->
    <!--<div class="center wow fadeInDown">-->
        <!--<h2>Home</h2>-->
    <!--</div>-->
<!--</div>-->
<!--</section>-->
<section id="services" class="service-item">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Some of our first coupons</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="coupon in model.coupons">
                <a href="#/loyalUDetails/{{coupon.restLocuId}}">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" id="img-fixed" src="{{coupon.image_url}}"/>
                    </div>
                    <div class="media-body">
                        <a href="#/loyalUDetails/{{coupon.restLocuId}}">
                            <!--<span class="glyphicon glyphicon-map-marker">-->
                            <!--</span>-->
                            <p class="truncate media-heading">
                                {{coupon.name}}
                            </p>
                        </a>
                        <p class="truncate media-text-color">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            {{coupon.coupons[0].description}}
                        </p>
                        <p class="truncate media-text-color" ng-if="coupon.coupons[0].couponType == 'QUANTITY'">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            {{coupon.coupons[0].itemName}}
                        </p>
                        <p class="truncate media-text-color" ng-if="coupon.coupons[0].couponType == 'AMOUNT'">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            {{coupon.coupons[0].discount}}%
                        </p>
                        <p class="truncate media-text-color">
                            <span class="glyphicon glyphicon-calendar"></span>
                            {{coupon.coupons[0].expiry | date}}
                        </p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</section>