<section id="services" class="service-item">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Some of our first coupons</h2>
                <a target="_blank" href="https://docs.google.com/document/d/1jQTr3r1tAEjK2ZJt6sc_D43MT8OHNG2ryL2LjZCmb60/edit?usp=sharing">
                    <h3 style="color : white">Project Documentation</h3>
                </a>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="coupon in model.coupons">
                <a href="#/loyalUDetails/{{coupon.restLocuId}}">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" id="image-fixed-search1" src="{{coupon.image_url}}"/>
                    </div>
                    <div class="media-body">
                        <a href="#/loyalUDetails/{{coupon.restLocuId}}">
                            <p class="center1 truncate media-heading">
                                {{coupon.name}}, {{coupon.zipcode}}
                            </p>
                        </a>
                        <p class="truncate">
                            <span class="glyphicon glyphicon-star"></span>
                            {{coupon.coupons[0].label}}
                        </p>
                        <p class="truncate">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            {{coupon.coupons[0].description}}
                        </p>
                        <p class="truncate" ng-if="coupon.coupons[0].couponType == 'QUANTITY'">
                            <span class="glyphicon glyphicon-cutlery"></span>
                            {{coupon.coupons[0].itemName}}
                        </p>
                        <p class="truncate" ng-if="coupon.coupons[0].couponType == 'AMOUNT'">
                            <span class="glyphicon glyphicon-usd    "></span>
                            {{coupon.coupons[0].discount}}%
                        </p>
                        <p class="truncate">
                            <span class="glyphicon glyphicon-calendar"></span>
                            {{coupon.coupons[0].expiry | date}}
                        </p>
                        <p class="fa">
                            *Redeem this coupon at the venue
                        </p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section id="feature">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Features</h2>
            <p class="lead">We do our best to deliver!</p>
        </div>
        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-heart"></i>
                        <h2></h2>
                        <h3>Customer: All your coupons available in one app.</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-search"></i>
                        <h2></h2>
                        <h3>Customer: Choose from a wide variety of coupons (LoyalU and the web).</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-cloud-download"></i>
                        <h2></h2>
                        <h3>Customer: Redeem your LoyalU coupons with the restaurant admin.</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-leaf"></i>
                        <h2></h2>
                        <h3>Admin: Create quantity and amount based coupons in seconds.</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-credit-card"></i>
                        <h2></h2>
                        <h3>Admin: No more need to hand out loyalty cards.</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-cogs"></i>
                        <h2></h2>
                        <h3>Admin: Coupon delivery and redemption made easy. Just an app away!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>