<section id="section2" class="service-item">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>LoyalU Coupons</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="coupon in model.coupons">
                <a href="#/loyalUDetails/{{coupon.restLocuId}}">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" id="image-fixed-search1" src="{{coupon.image_url}}"/>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{coupon.name}}, {{coupon.city}}</h4>
                        <p ng-if="coupon.coupon.couponType == 'QUANTITY'">
                            Coupon Type: "Quantity"
                            <br>
                            Item Name: {{coupon.coupon.itemName}}
                            <br>
                            {{coupon.coupon.description}}
                            <br>
                            Valid until: {{coupon.coupon.expiry | date}}
                        </p>
                        <p ng-if="coupon.coupon.couponType == 'AMOUNT'">
                            Coupon Type: "Amount"
                            <br>
                            Spend {{coupon.coupon.amount}}, get {{coupon.coupon.discount}}% off
                            <br>
                            {{coupon.coupon.description}}
                            <br>
                            Valid until: {{coupon.coupon.expiry | date}}
                        </p>
                    </div>
                </div>
                </a>
            </div>
        </div>

        <div class="center wow fadeInDown">
            <h2>Other coupons from web</h2>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4" ng-repeat="coupon in model.webCoupons">
                <a href="#/store/{{coupon.storeID}}/coupon/{{coupon.ID}}">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" id="img-fixed-search" src="{{coupon.showImageStandardBig}}"/>
                    </div>
                    <div class="media-body">
                        <p class="truncate expandable">{{coupon.name}}, {{coupon.city}}</p>
                        <p class="truncate expandable">{{coupon.dealTitle}}</p>
                        <p class="truncate expandable">New Price: ${{coupon.dealPrice}}, Original Price: ${{coupon.dealOriginalPrice}}</p>
                        <p class="truncate expandable">Savings: ${{coupon.dealSavings}}, Discount: {{coupon.dealDiscountPercent}}%</p>
                        <p class="truncate expandable">Valid until: {{coupon.expirationDate | date}}</p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
</section>