<div ng-controller="HeaderController">
    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-8" style="float : right">
                        <div class="social">
                            <ul class="social-share">
                                <li><a target="_blank" href="https://www.facebook.com/8coupons/"><i class="fa fa-facebook"></i></a></li>
                                <li><a target="_blank" href="https://twitter.com/8coupons?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fa fa-twitter"></i></a></li>
                                <li><a target="_blank" href="https://www.linkedin.com/in/praneetajhanwar"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                            <div class="search">
                                <form role="form">
                                    <input id="inputSearch" type="text" class="search-form"
                                           autocomplete="on" placeholder="Zipcode" ng-model="zipcode"
                                           ng-keyup="searchKeyPress($event)">
                                    <i id="btnSearch" ng-click="search(zipcode)" class="fa fa-search"></i>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/home">LoyalU</a>
            </div>
            <div id="navbar" class="navbar-collapse navbar-right collapse" style="float : right">
                <ul ng-show="!loggedInUser" class="nav navbar-nav navbar-right">
                    <li ng-class="{'active' : $location.url().indexOf('register') != -1}"><a href="#/register">Register</a></li>
                    <li ng-class="{'active' : $location.url().indexOf('login') != -1}"><a href="#/login">Login</a></li>
                </ul>

                <ul ng-show="loggedInUser" class="nav navbar-nav navbar-right">

                    <li ng-show="loggedInUser && loggedInUser.role == 'CUSTOMER'"
                        role="presentation"
                        ng-class="{'active' : $location.url().indexOf('customerQuantityCoupons') != -1}">
                        <a href="#/customerQuantityCoupons">View Coupons</a>
                    </li>

                    <li ng-show="loggedInUser && loggedInUser.role == 'ADMIN'"
                        role="presentation"
                        ng-class="{'active' : $location.url().indexOf('analysis') != -1}">
                        <a href="#/analysis">Analysis</a>
                    </li>
                    <li ng-show="loggedInUser && loggedInUser.role == 'ADMIN'"
                        role="presentation"
                        ng-class="{'active' : $location.url().indexOf('restaurantCoupons') != -1}">
                        <!--ng-class="{'active' : $location.url().indexOf('restaurantAmountCoupons') != -1}">-->
                        <a href="#/restaurantCoupons">Manage Coupons</a>
                    </li>
                    <li ng-show="loggedInUser && loggedInUser.role == 'ADMIN'"
                        role="presentation"
                        ng-class="{'active' : $location.url().indexOf('recordTransaction') != -1}">
                        <a href="#/recordTransaction">Record Transaction</a>
                    </li>

                    <li class="dropdown"
                        ng-class="{'active' : $location.url().indexOf('profile') != -1}">
                        <a href="#/profile" style="text-transform:capitalize" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{loggedInUser.loyalUUsername}} <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/profile">Profile</a></li>
                            <li><a href="#/logout">Logout</a></li>
                            <li><a href="#/changePassword">Change Password</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>