<h1 class="page-header">Search LoyalU Coupons</h1>
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-12">
            <input type="text" class="form-control" placeholder="Enter Zipcode or City" ng-model="model.inputSearch">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <button ng-click="model.search()" class="form-control btn btn-default">Search</button>
        </div>
    </div>
</div>
<br>
<br>
<h3 class="page-header">Search Results</h3>
<h4>Quantity Coupons</h4>
<table class="table borderless">
    <thead>
        <tr>
            <th>Restaurant Name</th>
            <th>Coupon Title</th>
            <th>Coupon Description</th>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Expiry Date</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="restaurant in model.restaurants" ng-if="restaurant.coupon.couponType == 'QUANTITY'">
                <td>{{restaurant.name}}</td>
                <td>{{restaurant.coupon.label}}</td>
                <td>{{restaurant.coupon.description}}</td>
                <td>{{restaurant.coupon.itemName}}</td>
                <td>{{restaurant.coupon.quantity}}</td>
                <td>{{restaurant.coupon.expiry}}</td>
        </tr>
    </tbody>
</table>
<br>
<h4>Amount Coupons</h4>
<table class="table borderless">
    <thead>
        <tr>
            <th>Picture</th>
            <th>Restaurant Name</th>
            <th>Coupon Title</th>
            <th>Coupon Description</th>
            <th>Amount</th>
            <th>Expiry Date</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="restaurant in model.restaurants" ng-if="restaurant.coupon.couponType == 'AMOUNT'">
            <td></td>
            <td>{{restaurant.name}}</td>
            <td>{{restaurant.coupon.label}}</td>
            <td>{{restaurant.coupon.description}}</td>
            <td>{{restaurant.coupon.amount}}</td>
            <td>{{restaurant.coupon.expiry}}</td>
        </tr>
    </tbody>
</table>